<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia fugiat
      accusamus eius quae ad modi quam, hic natus labore aperiam aliquam
      doloribus dolores voluptas ipsam obcaecati repellat eaque fugit. Unde?
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <div class="card__header">Card Title</div>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quaerat ex
        ut quam animi non, incidunt ea enim neque recusandae!
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia fugiat
      accusamus eius quae ad modi quam, hic natus labore aperiam aliquam
      doloribus dolores voluptas ipsam obcaecati repellat eaque fugit. Unde?
    </p>
  </div>
</section>
