<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem dolores
        vel error veniam rerum debitis illum ipsam non hic quae quas optio
        dignissimos molestiae blanditiis, officia suscipit? Dolorem, amet
        dolores.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
