<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading" style="margin-top: 0">Item 1</h2>

    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>

  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia minus
    animi perferendis ipsum sapiente fugiat? Iste voluptates aut numquam
    voluptatum praesentium facilis debitis? Corporis consectetur natus
    reiciendis aliquid amet quia.
  </div>
</div>
<script src="js/main.js"></script>
